*{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-image: url('../images/developer.png');
    background-size:86px;
    background-repeat: no-repeat;
    
    
    background-position: 25px 35px;
    background-color: #FFF8F3;
    
    /* background-image: url('../images/developer.png');
    background-size: 200px; */
    /* height: 100vh; */
    
}
nav li>a{
    text-decoration: none;
    color:  #474747;
    
}
nav button>a{
    color: black;
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
    margin-right: 160px;
   
}
    
.menus{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list{
    list-style: none;
    padding: 20px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 32px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    border: 0;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.download{
    margin-right: 15px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.intro{
    margin-top: 180px;
    margin-left: 150px;
    

}
.profile-pic{
    margin-right:5px;
}
.hi{
    color: #474747;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2px;
    
}
.name{
    font-size: 80px;
    color: #181818
}
.description{
    width: 500px;
}
.banner{
    background-image: url('../images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 700px;
}

.btn-primary:hover{
    background-color: #FFF8F3;
    color: #FD6E0A;
}